* {
  background-color: gold;
  text-align: center;
  color: white;
}

.a {
  color: black;
  font-size: 30px;
}

.rasm {
  text-align: center;
  margin-top: 20px;
}
.b {
  font-size: 20px;
  color: blue;
}
